
.button {
    font-size: 14px;
    border-radius: 4px;
    padding: 10px 12px;
    background-color:  #9ae6b4;
    border: none;
  }
  
.button:hover {
    background-color:  #68d391; 
  }

.button-add { 
    font-size: 6px;
    padding: 8px 10px;
    border-radius: 50%;
}

.button-signOut {
    display: flex;
    justify-content: center;
}

.icons {
    flex-shrink: 0;
    width: 22px;
    height: 22px;
    margin: 4px;
}

.iconpriority:hover{
    stroke:#f7805c;
}

.icondone:hover {
    stroke: #35d138;
}

.icondelete:hover {
    stroke: #c40606;
}

.iconlistTodosDone:hover {
    stroke: #858f9e
}