
.button {
    font-size: 14px;
    border-radius: 4px;
    padding: 8px 20px;
    background-color: white;
    font-weight: 500;

  }
  
.button:hover {
    background-color: whitesmoke; 
    cursor: pointer;
  }

.button-add { 
    font-size: 6px;
    padding: 8px 10px;
    border-radius: 50%;
    background-color:  #9ae6b4;
    border:none
}
.button-add:hover {
    background-color:  #68d391; 
    cursor: pointer;
  }

.button-signOut {
    margin-top: 12px;
    display: flex;
    justify-content: center;
}

.icons {
    flex-shrink: 0;
    width: 22px;
    height: 22px;

}

.iconpriority:hover{
    stroke:#f7805c;
    cursor: pointer;
}

.icondone:hover {
    stroke: #35d138;
    cursor: pointer;
}

.icondelete:hover {
    stroke: #fc3034;
    cursor: pointer;
}
@media (max-width: 500px){
    .button-add { 
        font-size: 6px;
        padding: 2px 4px;
    }
}
