
.todos {
    margin: 8px;
    padding: 8px;
}

.todo {
    display: flex;
    margin: 6px
}

.todo-done {
    color: #cbd5e0;
}

.todo-notDone {
    color: #4f5050;
}

.date {
    margin-left: 10px;
}