
.card {
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
}

.form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.header {
    text-align:center ;
    font-size: 50px;
    color: #9ae6b4;  
    font-weight: 700;
    margin-bottom: 20px;
}

.listTodosDone {
    display: flex;
    justify-content: space-between;
    color:#4f5050;
    margin: 20px 0;
    font-weight: 700;
    align-items: center;
}

.iconShowTodosDone {
    margin-left: auto;
}

.listTodosDone:hover{
    color:#858f9e;
    cursor: pointer;
}

@media (max-width: 500px) {
    .card{
        padding: 10px;
    }
   
    .header{
        font-size: 30px;
    }
    .input{
        width: 100%;
        max-width: 400px;
        font-size: 14px;
        padding: 8px;
    }
    .button-add { 
        font-size: 6px;
        padding: 2px 4px;
    }
}
